@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 19pt;
	line-height: 1.5em;
	color: #777;
	padding: 1em 2em 0em 2em;
}

/* For small screens (less than 600px): */
@media only screen and (max-width: 600px) {
	body {
		background: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		line-height: 2em;
		color: #777;
		padding: 0em 0em 0em 0em;
	}
}

a {
	color: #43B3E0;
	text-decoration: none;
}

a:hover {
	color: 	#b3e043;
	text-decoration: underline;
}

a img {
	border: 0;
}


/* For large screens: */
img {
	max-width: 750px;
	height: auto;
}

/* For small screens (less than 600px): */
@media only screen and (max-width: 600px) {
	img
	{	
		min-width: 98%;
		height: auto;
	}
}


h1 {
	color: #383838;
	font-size: 40px;
}

h2 {
	color: #383838;
	font-size: 30px;
}

h3 {
	color: #383838;
	font-size: 26px;
}

p {
	font-size: 22px;
}

li {
	font-size: 22px;
	display: list-item;
	text-align: -webkit-match-parent;
}

/*for references at bottom...*/
em {
	font-size: 16px;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Footer */
.footer {
	margin-left: -4em;
	margin-right: -4em;
	text-align: left;
	background-color: #dce3e2;
	padding: 1em 1em 1em 1em;
	font-size: 0.6em;
}

/* For small screens (less than 600px): */
@media only screen and (max-width: 600px) {
	.footer {
		margin-left: -1em;
		margin-right: 0em;
		text-align: left;
		background-color: #dce3e2;
		padding: 1em 1em 1em 1em;
		font-size: 8;
	}
}
/* Icons */
.icon {
	text-decoration: none;
}

.icon:before {
	font-family: FontAwesome;
	font-size: 1.25em;
}

.icon > .label {
	display: none;
}